html * {

    padding: 0px;
    margin: 0px;
}

.music-bg-container {

    background-color: #03174c;
    height: 100vh;



}

.top-section-image {
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-stars-bg.png);
    height: 40vh;
    background-size: cover;
    padding: 30px;


}

.music-heading {
    font-family: 'bree-serif';
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 25px;
}i

.music-description {
    color: white;
    font-family: "bree serif";
    font-size: 14px;
}

.night-music-card-container {
    background-color: #03174c;
    height: 100vh;
    text-align: center;
}

.night-music-card {

    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png");
    background-size: cover;
    margin-bottom: 5px;
    height: 200px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}


.button {
    color: #ffffff;
    background-color: #8e97fd;
    border-radius: 38px;
    font-family: "Bree serif";
    font-size: 14px;
    width: 100px;
    height: 30px;
    border-width: 0px;
    font-weight: 100;
}

.para {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: white;
}